<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styles_inicio.css">
</head>
<body>
    <header>
        <img src="/static/img/Rebobine.png" alt="Logo" class="logo">
    </header>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" required><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>
        
        <p>
            <a><button type="submit" id = "button">Entrar</button></a>
            <a href="/">Voltar</a>
        </p>
    </form>
</body>
</html>